/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


// @import "./assets/fonts";
@font-face {
    font-family: "bariol-regular";
    src: url("assets/fonts/bariol-regular.otf") format("opentype"),
    url("assets/fonts/bariol-regular.eot"), url("assets/fonts/bariol-regular.woff") format("woff"),
    url("assets/fonts/bariol-regular.woff2") format("woff2"),
    url("assets/fonts/bariol-regular.ttf") format("truetype");

    font-family: "bariol-bold";
    src: url("assets/fonts/bariol-bold.otf") format("opentype");
}

body {
    font-family: bariol-bold !important;
}


.container-inside {
    position: absolute;
    right: 15%;
    left: 15%;
    top: 45%;
    // bottom: 50px;
    z-index: 10;
    color: #fff;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.title {
    color: rgb(114, 44, 145);
    font-weight: bold;
    // font-family: 'bariol-bold';
}

.title-primary {
    color: rgb(114, 44, 145);
}

.box {
    background-color: rgba(0, 0, 0, 0.3);
    // padding: 10% 0;
    height: 84vh;
    width:100%;
}

.subtitle {
    color: rgb(77, 74, 71);
    font-weight: bolder;
    font-size: 15px;
}

.clean-bg {
    background-image: url('/assets/img/jeremy-bishop-334996-unsplash.jpg');
}

.card-img {
    width: 60%;
    min-width: 100px;
}

.pink-bg {
    background-color: rgb(114, 44, 145);
}

.img-limited {
    width: 96%;
    border-radius: 2px;
}

.section-primary {
    background-image: linear-gradient(45deg, rgb(114, 44, 145) , rgb(167, 104, 194));
    color: #fff;
}

.brand {
    width: 50px;
    height: 50px;
}

h5.title {
    color: #fff;
}
h2.title.title-hiring {
    color: #fff;
}

h2.title-white {
    color: #fff;
}

.title-accent {
    font-weight: bold;
    color: #ed0677;
}

.card-title.title-primary {
    font-size: 16px;
}

.card-title.title-accent {
    font-size: 16px;
}

// .footer-logo {
//     padding-top: 100px;
// }

.image-container {
    background-size: cover;
}

.btn-anteraja {
    background-color: rgb(114, 44, 145);
    border-width: 2px;
    border-color: rgb(114, 44, 145);
    font-size: 10px;
    width: 100px;
    color: white !important;
}

.btn-anteraja-accent {
    background-color: rgb(237, 6, 119);
    border-width: 2px;
    border-color: rgb(237, 6, 119);
    font-size: 14px;
    width: 150px;
}

.black-overlay[_ngcontent-c2] {
    position: fixed !important;
  }

.btn-anteraja:hover {
    background-color: #fff;
    border-color: #722c91;;
    color: rgb(114, 44, 145) !important;
}

.btn-anteraja-alt {
    border-width: 2px;
    background-color: white;
    color: rgb(114, 44, 145);
    border-color: rgb(114, 44, 145);
    width: 150px;
}

.btn-anteraja-alt:hover {
    background-color: rgb(114, 44, 145);
    color: #fff;
}

.card-category {
    color: rgb(114, 44, 145);
}

.description {
    width: 100%;
}

.padding-top-80 {
    padding-top: 50px;
}

.fit-content {
    height: fit-content !important;
}

.mine{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    width: 140px;
}

.title-hiring {
    font-size: 40px;
}

.service-description {
    font-size: 14px;
}

@media screen and (max-width:500px) {
    .mine{
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 20;
        width: 140px;
    }

    .box {
        width:100%;
    }

    .padding-top-80 {
        padding-top: 20px;
    }

    .padding-top-20 {
        padding-top: 20px;
    }

    .section.section-primary {
       background-size: cover;
    }

    .parallax {
        height: auto;
    }

    .title-hiring {
        font-size: 28px;
    }

    .subtitle {
        font-size: 13px;
    }
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
}

.overlay {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  }
