
    .card-10-margin {
        margin-top: 10px !important;
    }

    .container-inside {
        position: absolute;
        right: 15%;
        left: 15%;
        top: 45%;
        // bottom: 50px;
        z-index: 10;
        color: #fff;
        width: 35%;
    }
    
    .title {
        color: rgb(237, 6, 119);
        font-weight: bold;
        // font-family: 'bariol-bold';
    }
    
    .subtitle {
        color: #fff;
        font-weight: bolder;
    }
    
    .clean-bg {
        background-image: url('/assets/img/jeremy-bishop-334996-unsplash.jpg');
    }
    
    .card-img {
        width: 200px;
    }
    
    .card-img-why {
        width: 110px;
        padding-bottom: 12px;
    }
    
    .pink-bg {
        background-color: rgb(237, 6, 119);
    }
    
    .img-limited {
        width: 96%;
        border-radius: 2px;
    }
    
    .section-primary {
        background-color: rgb(237, 6, 119) !important;
        color: #fff;
    }
    
    .brand {
        width: 50%;
    }
    
    h5.title {
        color: #fff;
    }
    h2.title.title-hiring {
        color: #fff;
    }
    
    h2.title-white {
        color: #fff;
    }
    
    .title-accent {
        font-weight: bold;
        color: #FFDB08;
    }
    
    .footer-logo {
        padding-top: 100px;
    }
    
    .image-container {
        background-size: cover;
    }
    
    .btn-anteraja {
        background-color: rgb(237, 6, 119);
        border-width: 2px;
        border-color: rgb(237, 6, 119);
        font-size: 0.8em;
        width: 120px;
        color: #fff;
    }
    
    .btn-anteraja-accent {
        background-color: #FFDB08;
        border-width: 2px;
        border-color: #FFDB08;
        font-size: 0.8em;
        width: 150px;
    }
    
    .btn-anteraja:hover {
        background-color: rgba(237, 6, 119, 0.8);
        color: rgb(237, 6, 119);
        border-color: rgba(237, 6, 119, 0.8);
    }
    
    .btn-anteraja-alt {
        border-width: 2px;
        background-color: white;
        color: rgb(237, 6, 119);
        border-color: rgb(237, 6, 119);
        width: 150px;
    }

    .btn-anteraja-noborder {
        border: 2px;
        border-color: white;
        background-color: white;
        color: rgb(237, 6, 119);
        padding-left: 0 !important;
    }
    
    .btn-anteraja-alt:hover {
        background-color: rgb(237, 6, 119);
        color: #fff;
    }
    
    .card-category {
        color: rgb(237, 6, 119);
    }
    
    .description {
        width: 180px;
        color: #fff;
    }
    
    .padding-top-80 {
        padding-top: 80px;
    }
    
    .padding-bottom-80 {
        padding-bottom: 80px;
    }
    
    .fit-content {
        height: fit-content !important;
    }
    
    h4.title-white {
        color: white;
        font-weight: bold;
    }
    
    p {
        color: #577083 !important;
    }
    
    p.text-white {
        color: white !important;
    }
    
    .text-bolder {
        font-weight: bold;
    }

    .padding-30 {
        padding: 30px;
    }

    .card-title-text {
        font-weight: bold;
    }

    .card-title {
        padding-bottom: 15px;
        padding-top: 10px;
        min-height: 140px;
    }

    .jobs {
        height:300px;
        overflow: hidden;
        // white-space: nowrap; 
        // text-overflow: ellipsis;
    }

    .card-description-text {
        text-overflow: ellipsis;
        // white-space: nowrap;
    }

    .navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn), [class*="bg"] .navbar-nav .nav-item .nav-link:not(.btn) {
        color: black;
    }

    .mine{
        position: fixed;
        bottom: 100px;
        right: 100px;
        z-index: 20;
        width: 140px;
      }

    @media screen and (max-width:500px) {
        .card-img-why {
            padding-bottom: 10px;
        }
    
        .why {
            padding-bottom: 40px;
        }
    
        .padding-top-50 {
            padding-top: 0;
        }
    
        .services {
            padding-top: 30px;
        }

        .mine{
            position: fixed;
            bottom: 30px;
            right: 30px;
            z-index: 20;
            width: 140px;
        }

        .parallax {
            height: auto;
        }

        [data-aos^=zoom][data-aos^=zoom] {
            opacity: 1;
        }

        [data-aos=zoom-in-down] {
            transform: none;
        }
    }
    